@import url('https://fonts.googleapis.com/css?family=Karla:400,700');



body {
  margin: 0; 
  padding: 0;
  background-color: #fbfbff;
  font-family: 'Karla', sans-serif;
  overflow-y: hidden;
}
.main-body {
  position: fixed;
  width: 351px !important;
  height: 100%;
}
.nav-bar {
  display: block;
  position: absolute;
  color: #fbfbff;
  width: 100%;
  height: 100%;
  background-color: #101010;
}
.nav-bar .title {
  display: block;
  margin-top: 80px;
  margin-left: -10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 48px;
  text-align: center;
}
.nav-bar #title-text {
  display: inline-block;
}
.nav-bar #box {
  display: inline-block;
  position: absolute;
  margin-left: 5px;
  border-radius: 1px;
  bottom: 10px;
  width: 10px;
  height: 10px;
  background-color: #ff3065;
}
.nav-bar .nav-item-list {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  min-height: 100px;
}
.nav-item {
  display: inline-block;
  position: relative;
  min-width: 90px;
  min-height: 35px;
  padding-top: 5px;
  box-sizing: border-box;
  font-size: 20px;
  margin: 20px 10px;
  margin-left: 30px;
  cursor: pointer;
}
.nav-item .item-text {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
   supported by Chrome and Opera */
  display: inline-block;
  position: relative;
  left: 0;
  bottom: 0;
  opacity: 0.2;
  transition: all 0.3s ease-in-out;
}
.nav-item:hover .item-text {
  left: 20px;
  bottom: 2px;
}
.nav-item .selected {
  opacity: 1 !important;
}
.nav-item .hovered {
  opacity: 0.8 !important;
}
.nav-item .menu-hovered {
  opacity: 0.4;
}
#indicator {
  display: block;
  position: absolute;
  width: 4px;
  height: 10px;
  top: 33px;
  border-radius: 3px;
  background-color: #ff3065;
}
a {
  color: inherit;
  text-decoration: none;
  /* no underline */
}
.credit {
  display: block;
  position: absolute;
  font-size: 18px;
  bottom: 40px;
  right: 40px;
}
.credit a {
  color: #ff3065;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 800;
}
.content {
  position: absolute;
  z-index: -1;
  left: 350px;
  height: 100%;
  background: #ff3065;
  color: white;
  overflow-y: hidden;
}
.content .content-box {
  position: absolute;
  width: 500px;
  height: 500px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.content #title {
  text-align: center;
  margin: 20px;
  font-size: 34px;
  font-weight: bold;
}
.content #content {
  margin: 20px;
  font-size: 20px;
  line-height: 35px;
}
.content #reference {
  position: absolute;
  color: purple;
  right: 10px;
  bottom: 10px;
}
#signin{
  display: block;
  position: relative;
  margin: 50px auto;
  fontside: 28px;
  width: 100%;
  text-align: center;
}
